body
    {
    text-align: center;
    font-size: 24px;
    }

ul
    {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

.List li
    {
    display: inline-block;
    width: 160px;
    padding: 10px 15px;
    cursor: pointer;
    }


.zerg
    {
    background-color: rgba(128, 0, 128, 0.1);
    }

.zerg:hover
    {
    background-color: rgba(128, 0, 128, 0.2);
    }

.protoss
    {
    background-color: rgba(255, 255, 0, 0.1);
    }

.protoss:hover
    {
    background-color: rgba(255, 255, 0, 0.2);
    }

.terran
    {
    background-color: rgba(0, 0, 255, 0.1);
    }

.terran:hover
    {
    background-color: rgba(0, 0, 255, 0.2);
    }

#Message
    {
    background: none;
    font-weight: bold;
    font-size: 150%;
    }

#Message.zerg
    {
    color: rgb(128, 0, 128);
    }

#Message.protoss
    {
    color: rgb(150, 150, 0);
    }

#Message.terran
    {
    color: rgb(0, 0, 255);
    }

.correct
    {
    color: green;
    }

.incorrect
    {
    color: red;
    }

#GameInfo > li
    {
    display: inline-block;
    min-width: 125px;
    }

#GameInfo, #Message, #List, #Menu, #AudioContainer
    {
    margin: 12px;
    }

#UnitsLeft, #Score, #HighestScore
    {
    font-weight: bold;
    color: green;
    }

.button
    {
    cursor: pointer;
    color: blue;
    padding: 10px;
    }

.button:hover
    {
    text-decoration: underline;
    }

ul#Menu > *, #Menu ul > *
    {
    display: inline-block;
    }

#Menu > *
    {
    margin: 0 10px;
    }

.selected
    {
    background-color: rgba(128, 128, 128, 0.1);
    }


    /* ---- Message ---- */

.Game-Message-container
    {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: aliceblue;
    }


.Game-Message-container .Game-Button
    {
    color: cornflowerblue;
    }

.Game-Message-Buttons
    {
    margin-top: 10px;
    text-align: right;
    }

.Game-Message-Buttons > *
    {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 5px;
    }

.Game-Message-Buttons .Game-Button
    {
    background-color: cornflowerblue;
    color: aliceblue;
    }

.Game-Message-background
    {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    }

.Game-Message-container .Game-Text
    {
    text-align: right;
    }

.Game-Button
    {
    cursor: pointer;
    }

.Game-Button:hover
    {
    text-decoration: underline;
    }
